.about-wedding{
    
    display: flex;
    height: auto;
    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        color: rgb(31, 31, 31);
        font-family: Lustria;
        font-size: 64px;
        font-weight: 400;
        line-height: 82px;
        letter-spacing: 5px;
        text-align: right;

        margin-top: 80px;
        }


    .main-cont{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .dress-cont{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 80px;

            .cont1{
                
            }

            .cont2{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .attire-title{
                    
                    color: rgb(255, 255, 255);
                    font-family: Lustria;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 51px;
                    
                    margin-top: 10px;
                    margin-bottom: 40px;
                }

                .attire-men{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .men-title{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        
                        text-decoration-line: underline;
                        letter-spacing: 7px;

                        margin-bottom: 20px;
                    
                    }

                    .rules{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5%;
                        text-align: center;

                        margin-bottom: 30px;

                    }

                    .avoid{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5px;
                        text-align: center;

                        margin-bottom: 20px;
                    }
                    
                }

                .attire-lady{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .ladies-title{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        
                        text-decoration-line: underline;
                        letter-spacing: 7px;

                        margin-top: 50px;
                        margin-bottom: 20px;
                    
                    }

                    .rules{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5%;
                        text-align: center;

                        margin-bottom: 30px;

                    }

                    .avoid{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5px;
                        text-align: center;

                        margin-bottom: 20px;
                    }
                }

                .pallete{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    margin-top: 50px;
                    p{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 31px;
                        letter-spacing: 40px;

                        padding-left: 25px;

                        margin-top: 20px;
                    }
                    
                }


            }

            .cont3{
                
            }



        }

        .location{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-bottom: 80px;

            .location-title{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 5px;
                text-align: center;

                margin-bottom: 30px;
            }
            
            .location-code{
                margin-bottom: 20px;
            }
            .location-code:hover{
                transform: scale(1.1);
            }

            .location-name{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 40px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 10px;
               
            }

            .time{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 28px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 10px;
            }

            .address{

                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 10px;
                text-align: center;
                width: 80%;

                margin-bottom: 30px;
            }

            .view-button{
                width: 279px;
                height: 65px;
                border-radius: 11px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background: rgb(255, 255, 255);

                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    color: rgb(0, 0, 0);
                    font-family: Lustria;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 41px;
                    letter-spacing: 5px;
                    text-decoration: none;
                }
            }
            .view-button:hover{
                transform: scale(1.2);
            }


        }
        .send-gift{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-bottom: 80px;

            .gift-title{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 5px;
                text-align: center;

                margin-bottom: 30px;
            }

            .gift-desc{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 10px;
                text-align: center;
                width: 85%;

                margin-bottom: 30px;
            }

            .codes{
                display: flex;
                justify-content: center;
                align-items: center;
                

                .gcash{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    margin-right: 25px;

                    p{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 41px;
                        letter-spacing: 5%;
                        text-align: center;
                        text-decoration-line: underline;
                    }
                }
                .bank{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    margin-left: 25px;

                    p{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 41px;
                        letter-spacing: 5%;
                        text-align: center;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
}