.about-wedding{
    
    display: flex;
    height: auto;
    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        color: rgb(31, 31, 31);
        font-family: Lustria;
        font-size: 64px;
        font-weight: 400;
        line-height: 82px;
        letter-spacing: 5px;
        text-align: center;

        margin-top: 80px;
        }


    .main-cont{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        .dress-cont{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 80px;

            .cont1{
                
            }

            .cont2{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .attire-title{
                    
                    color: rgb(255, 255, 255);
                    font-family: Lustria;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 51px;
                    
                    margin-top: 10px;
                    margin-bottom: 40px;

                    p{
                        width: 100%;
                    }
                }

                .attire-men{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .men-title{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        
                        text-decoration-line: underline;
                        letter-spacing: 7px;

                        margin-bottom: 20px;
                    
                    }

                    .rules{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5%;
                        text-align: center;

                        margin-bottom: 30px;

                    }

                    .avoid{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 5px;
                        text-align: center;

                        margin-bottom: 20px;
                    }
                    
                }

                .attire-lady{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .ladies-title{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        
                        text-decoration-line: underline;
                        letter-spacing: 7px;

                        margin-top: 50px;
                        margin-bottom: 20px;
                    
                    }

                    .rules{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5%;
                        text-align: center;

                        margin-bottom: 30px;

                    }

                    .avoid{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 0px;
                        letter-spacing: 5px;
                        text-align: center;

                        margin-bottom: 20px;
                    }
                }

                .pallete{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    margin-top: 50px;
                    p{
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 31px;
                        letter-spacing: 40px;

                        padding-left: 25px;

                        margin-top: 20px;
                    }
                    
                }


            }

            .cont3{
                
            }



        }

        .location{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-bottom: 80px;

            .location-title{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 5px;
                text-align: center;

                margin-bottom: 30px;
            }
            
            .location-code{
                margin-bottom: 20px;
            }
            .location-code:hover{
                transform: scale(1.1);
            }

            .location-name{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 40px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 10px;
               
            }

            .time{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 28px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 10px;
            }

            .address{

                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 10px;
                text-align: center;
                width: 80%;

                margin-bottom: 30px;
            }

            .view-button{
                width: 279px;
                height: 65px;
                border-radius: 11px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                background: rgb(255, 255, 255);

                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    color: rgb(0, 0, 0);
                    font-family: Lustria;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 41px;
                    letter-spacing: 5px;
                    text-decoration: none;
                }
            }
            .view-button:hover{
                transform: scale(1.2);
            }


        }
        .send-gift{
            width: 1228px;
            height: 670px;
            border-radius: 19px;
            background: rgb(82, 97, 81);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-bottom: 80px;

            .gift-title{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 5px;
                text-align: center;

                margin-bottom: 30px;
            }

            .gift-desc{
                color: rgb(255, 255, 255);
                font-family: Lustria;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 10px;
                text-align: center;
                width: 85%;

                margin-bottom: 30px;
            }

            .codes{
                display: flex;
                justify-content: center;
                align-items: center;
                

                .gcash{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    margin-right: 25px;
                    
                    img:hover{
                        transform: scale(1.1);
                    }

                    p{
                        
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 41px;
                        letter-spacing: 5%;
                        text-align: center;
                        text-decoration-line: underline;

                        margin-top: 15px;
                    }
                }
                .bank{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    margin-left: 25px;
                    
                    img:hover{
                        transform: scale(1.1);
                    }

                    p{
                        
                        color: rgb(255, 255, 255);
                        font-family: Lustria;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 41px;
                        letter-spacing: 5%;
                        text-align: center;
                        text-decoration-line: underline;

                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1284px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 1166px;
                height: 646px;

                .cont2{
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 1243px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 1131px;
            }
        }
    }
}

@media (max-width: 1183px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 1000px;

                .cont1{
                    img{
                        transform: scale(.8);
                    }
                }
                .cont2{
                    .attire-title{
                        text-align: center;
                    }
                    .attire-men{
                        
                    }
                    .pallete{
                        
                        img{
                            transform: scale(.9);
                        }
                    }
                }
                .cont3{
                    img{
                        transform: scale(.8);
                    }
                }
            }
        }
    }
}

@media (max-width: 1183px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 1000px;

                .cont1{
                    img{
                        transform: scale(.8);
                    }
                }
                .cont2{
                    .attire-title{
                        
                    }
                    .attire-men{
                        
                    }
                    .pallete{
                        
                        img{
                            transform: scale(.9);
                        }
                    }
                }
                .cont3{
                    img{
                        transform: scale(.8);
                    }
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 1000px;

                .cont1{
                    img{
                        transform: scale(.8);
                    }
                }
                .cont2{
                    .attire-title{
                        
                    }
                    .attire-men{
                        
                    }
                    .attire-lady{
                        margin-top: -55px;
                    }
                    .pallete{
                        
                        img{
                            transform: scale(.8);
                        }
                    }
                    .rules{
                        line-height: 30px;
                    }
                }
                .cont3{
                    img{
                        transform: scale(.8);
                    }
                }
            }
        }
    }
}

@media (max-width: 1015px) {
    .about-wedding{
        .main-cont{
            .dress-cont{
                width: 825px;
                height: 724px;

                .cont1{
                    img{
                        transform: scale(.6);
                    }
                }
                .cont2{
                    .attire-title{
                        font-size: 35px;
                    }
                    .attire-men{
                        .rules{
                            line-height: 30px;
                        } 
                    }
                    .attire-lady{
                        margin-top: -55px;
                        .avoid{
                            line-height: 20px;
                        }
                    }
                    .pallete{
                        margin-top: -17px;
                        img{
                            transform: scale(.6);
                        }
                        p{
                                margin-top: -17px;
                        }
                    }
                    
                }
                .cont3{
                    img{
                        transform: scale(.6);
                    }
                }
            }
        }
    }
}

@media (max-width: 883px){
    .about-wedding{
        h1{
            font-size: 50px;
            margin-bottom: -86px;
        }
        .main-cont{
            .dress-cont{
                width: 680px;
                height: 520px;
                .cont1{
                    margin-right: -50px;
                }
                .cont3{
                    margin-left: -50px;
                }
                .cont2{
                    .attire-title{
                        font-size: 30px;
                        line-height: 30px;
                    }
                    .attire-men{
                        .men-title{
                            margin-bottom: 2px;
                            font-size: 27px;
                        }
                        .rules{
                            margin-bottom: 2px;
                            font-size: 25px;
                        }
                        .avoid{
                            font-size: 15px;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 59px;
                            font-size: 27px;
                        }
                        .rules{
                            font-size: 25px;
                            margin-bottom: 15px;
                        }
                        .avoid{
                            font-size: 15px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 16px;
                            letter-spacing: 20px
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:715px){
    .about-wedding{
        h1{
            font-size: 45px;
            margin-bottom: -86px;
        }
        .main-cont{
            .dress-cont{
                width: 613px;
                height: 486px;
                .cont1{
                    margin-right: -50px;
                    
                    img{
                        transform: scale(.5);
                    }
                }
                .cont3{
                
                    margin-left: -50px;
                    img{
                        transform: scale(.5);
                    }
                }
                .cont2{
                    .attire-title{
                        font-size: 30px;
                        line-height: 27px;
                        margin-bottom: 28px;
                    }
                    .attire-men{
                        .men-title{
                            margin-bottom: 2px;
                            font-size: 27px;
                        }
                        .rules{
                            margin-bottom: 2px;
                            font-size: 23px;
                        }
                        .avoid{
                            font-size: 13px;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 59px;
                            font-size: 27px;
                        }
                        .rules{
                            font-size: 23px;
                            margin-bottom: 15px;
                        }
                        .avoid{
                            font-size: 13px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 14px;
                            letter-spacing: 17px
                        }
                    }
                }
            }
        }
    } 
}

@media (max-width:648px){
    .about-wedding{
        h1{
            font-size: 40px;
            margin-bottom: -86px;
        }

        .main-cont{
            .dress-cont{
                width: 555px;
                height: 408px;
                .cont1{
                    margin-right: -70px;
                    img{
                        transform: scale(.4);
                    }
                }
                .cont3{
                    margin-left: -70px;
                    img{
                        transform: scale(.4);
                    }
                }
                .cont2{
                    .attire-title{
                        font-size: 22px;
                    }
                    .attire-men{
                        .men-title{
                            font-size: 20px;
                        }
                        .rules{
                            font-size: 19px;
                        }
                        .avoid{
                            font-size: 12px;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-bottom: 17px;
                            font-size: 20px;
                        }
                        .rules{
                            font-size: 19px;
                        }
                        .avoid{
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                    }
                    .pallete{
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:575px){
    .about-wedding{
        h1{
            font-size: 33px;
            margin-bottom: -86px;
        }

        .main-cont{
            .dress-cont{
                width: 473px;
                height: 326px;
                .cont1{
                    margin-right: -100px;
                    img{
                        transform: scale(.3);
                    }
                }
                .cont3{
                    margin-left: -100px;
                    img{
                        transform: scale(.3);
                    }
                }
                .cont2{
                    .attire-title{
                        margin-top: -18px;
                        font-size: 20px;
                    }
                    .attire-men{
                        .men-title{
                            font-size: 18px;
                            margin-bottom: -7px;
                        }
                        .rules{
                            font-size: 17px;
                            margin-bottom: -8px
                        }
                        .avoid{
                            font-size: 10px;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 44px;
                            margin-bottom: 8px;
                            font-size: 18px;
                            
                        }
                        .rules{
                            font-size: 17px;
                            margin-bottom: 2px
                        }
                        .avoid{
                            margin-bottom: 5px;
                            font-size: 10px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 12px;
                            margin-top: -34px;
                        }
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:575px){
    .about-wedding{
        h1{
            font-size: 33px;
            margin-bottom: -86px;
        }

        .main-cont{
            .dress-cont{
                width: 473px;
                height: 326px;
                .cont1{
                    margin-right: -100px;
                    img{
                        transform: scale(.3);
                    }
                }
                .cont3{
                    margin-left: -100px;
                    img{
                        transform: scale(.3);
                    }
                }
                .cont2{
                    .attire-title{
                        margin-top: -18px;
                        font-size: 20px;
                    }
                    .attire-men{
                        .men-title{
                            font-size: 18px;
                            margin-bottom: -7px;
                        }
                        .rules{
                            font-size: 17px;
                            margin-bottom: -8px
                        }
                        .avoid{
                            font-size: 10px;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 44px;
                            margin-bottom: 8px;
                            font-size: 18px;
                            
                        }
                        .rules{
                            font-size: 17px;
                            margin-bottom: 2px
                        }
                        .avoid{
                            margin-bottom: 5px;
                            font-size: 10px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 12px;
                            margin-top: -34px;
                        }
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:485px){
    .about-wedding{
        h1{
            font-size: 30px;
            margin-bottom: -120px;
        }

        .main-cont{
            .dress-cont{
                width: 416px;
                height: 289px;
                .cont1{
                    margin-right: -130px;
                    
                }
                .cont3{
                    margin-left: -130px;
                    
                }
                .cont2{
                    .attire-title{
                        margin-top: 0px;
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    .attire-men{
                        .men-title{
                           
                            margin-bottom: -7px;
                        }
                        .rules{
                           
                            margin-bottom: -8px
                        }
                        .avoid{
                            font-size: 10px;
                            width: 70%;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 44px;
                            margin-bottom: 6px;
                            font-size: 18px;
                            
                        }
                        .rules{
                            font-size: 17px;
                            margin-bottom: 2px
                        }
                        .avoid{
                            margin-bottom: 5px;
                            font-size: 10px;
                            width: 60%;
                            line-height: 10px;
                            margin-top: 10px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 12px;
                            margin-top: -34px;
                        }
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:432px){
    .about-wedding{
        h1{
            font-size: 25px;
            margin-bottom: -120px;
        }

        .main-cont{
            .dress-cont{
                width: 365px;
                height: 289px;
                .cont1{
                    margin-right: -145px;
                    
                }
                .cont3{
                    margin-left: -145px;
                    
                }
                .cont2{
                    .attire-title{
                    
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    .attire-men{
                        .men-title{
                            
                            margin-bottom: -7px;
                        }
                        .rules{
                            font-size: 15px;
                            margin-bottom: -8px
                        }
                        .avoid{
                            font-size: 10px;
                            width: 63%;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 44px;
                            margin-bottom: 6px;
                            font-size: 18px;
                            
                        }
                        .rules{
                            font-size: 15px;
                            margin-bottom: 2px
                        }
                        .avoid{
                            margin-bottom: -7px;
                            font-size: 10px;
                            width: 60%;
                            line-height: 10px;
                            margin-top: 10px;
                        }
                    }
                    .pallete{
                        p{
                            font-size: 12px;
                            margin-top: -34px;
                        }
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:380px){
    .about-wedding{
        h1{
            font-size: 25px;
            margin-bottom: -120px;
        }

        .main-cont{
            h1{
                font-size: 23px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .dress-cont{
                width: 328px;
                height: 289px;
                .cont1{
                    margin-right: -163px;
                    
                }
                .cont3{
                    margin-left: -163px;
                    
                }
                .cont2{
                    .attire-title{
                    
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    .attire-men{
                        .men-title{
                            
                            margin-bottom: -7px;
                        }
                        .rules{
                            font-size: 13px;
                            margin-bottom: -8px
                        }
                        .avoid{
                            font-size: 10px;
                            width: 55%;
                        }
                    }
                    .attire-lady{
                        .ladies-title{
                            margin-top: 44px;
                            margin-bottom: 6px;
                            font-size: 18px;
                            
                        }
                        .rules{
                            font-size: 13px;
                            margin-bottom: 2px
                        }
                        .avoid{
                            margin-bottom: -7px;
                            font-size: 10px;
                            width: 60%;
                            line-height: 10px;
                            margin-top: 10px;
                            
                        }
                    }
                    .pallete{
                        p{
                            font-size: 12px;
                            margin-top: -34px;
                        }
                        img{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:350px){
    .about-wedding{
        h1{
            line-height: 40px;
        }
    }
}