.home-cont {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #1A4019;

  .background {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('Assets/homebackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
      margin-top: 300px;
      color: white;
      font-size: 180px;
      font-family: Luxurious Script;
      font-weight: 500px;
      z-index: 1;
    }
    .date {
      color: white;
      font-size: 30px;
      font-family: Lustria;
      font-weight: 300px;
      z-index: 1;
    }
    .description {
      margin-top: 20px;
      color: white;
      font-size: 20px;
      font-family: Lustria;
      font-weight: 100px;
      z-index: 1;
      width: auto;
      text-align: center;
    }
  }
  .background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #1A4019, transparent); /* Green to transparent /
    z-index: 1; / Ensure the overlay appears above the background image */

  }
}
