.jhoAndErn{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #1A4019;


    .container{

        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 400px;
        margin-right: 300px;
        flex-wrap: wrap;

        margin-bottom: 100px;
        
        .right-cont{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            
            .caption{
                color: white;
                font-size: 40px;
                font-family: Lustria, sans-serif;
                font-weight: 100px;
            }
        
        }

        
        .left-cont{
            margin-right: 50px;

            img:hover{
                transform: scale(1.1);
            
            }
        }

        

    }

    .container1{

        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 400px;
        margin-right: 300px;

        margin-bottom: 100px;
        flex-wrap: wrap;
        
        .right-cont{
            
            margin-left: 50px;
            

            img:hover{
                transform: scale(1.1);
               
            }
        
        }

        
        .left-cont{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            padding-left: 20px;
            padding-right: 20px;
            
            .caption{
                color: white;
                font-size: 40px;
                font-family: Lustria, sans-serif;
                font-weight: 100px;
                text-align: right;
            }
            
            
        }

        

    }
}


@media (max-width: 1864px){
    .jhoAndErn{
        .container{
            margin-left: 200px;
            margin-right: 100px;
        }
    }
}

@media (max-width: 1428px){
    .jhoAndErn{
        .container{
            margin-left: 150px;
            margin-right: 50px;
        }
    }
}

@media (max-width: 1329px){
    .jhoAndErn{
        .container{
            margin-left: 30px;
            margin-right: 0px;
        }
    }
        
    
}


@media (max-width: 1304px){
    .jhoAndErn{
        .container{
            margin-left: 70px;
            margin-right: 0px;
        }
    }
        
    
}

@media (max-width:1198px){
    .jhoAndErn{
        .container{
            margin-left: 20px;
            margin-right: 20px;
            

            .right-cont{
                width: 90%;
                text-align: center;
            }
            .left-cont{
                width: 90%;
                display: flex;
                align-items:center;
                justify-content: center;

                margin-bottom: 20px;
                margin-right: 0px;
            }
        }
    }
       
}

@media (max-width: 1026px){
    .jhoAndErn{
        .container1{
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
}

@media (max-width: 900px){
    .jhoAndErn{
        .container{
            .right-cont{
                .caption{
                    font-size: 35px;
                }
            }
        }
    }
}

@media(max-width: 650px){
    .jhoAndErn{
        
        .container{
            margin-top: 40px;
            .left-cont{
                
                img{
                    transform: scale(.8);
                }
                img:hover{
                    transform: scale(.9);
                }
            }
            .right-cont{
                margin-top: -50px;
                .caption{
                    font-size: 30px;
                }
            }
        }
    }
}

@media(max-width: 530px){
    .jhoAndErn{
        .container{
            .left-cont{
                img{
                    transform: scale(.75);
                }
                img:hover{
                    transform: scale(.8);
                }
            }
            .right-cont{
                .caption{
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 1864px){
    .jhoAndErn{
        .container1{
            margin-right: 200px;
            margin-left: 100px;
        }
    }
}

@media (max-width: 1528px){
    .jhoAndErn{
        .container1{
            margin-top: 130px;
        }
    }
}
@media (max-width: 1428px){
    .jhoAndErn{
        .container1{
            margin-right: 150px;
            margin-left: 50px;
        }
    }
}



@media (max-width: 1334px){
    .jhoAndErn{
        .container1{
            margin-right: 50px;
            margin-left: 0px;
        }
    }
        
    
}

@media (max-width: 1198px){
    .jhoAndErn{
        .container1{
            flex-direction: column-reverse;
            margin-left: 20px;
            margin-right: 20px;

            justify-content: center;
            align-items: center;
    

            .left-cont{
                width: 90%;
                .caption{
                    text-align: center;
                }
            }
            .right-cont{
                width: 90%;
                display: flex;
                align-items:center;
                justify-content: center;

                margin-bottom: 20px;
                margin-left: 0px;
            }
        }
            
        
    }

    @media (max-width: 1026px){
        .jhoAndErn{
            .container1{
                margin-top: 50px;
            }
        }
    }
     
    @media (max-width: 900px){
        .jhoAndErn{
            .container{
                .left-cont{
                    .caption{
                        font-size: 35px;
                    }
                }
            }
        }
    }
    
}

@media(max-width: 650px){
    .jhoAndErn{
        
        .container1{
            margin-top: 40px;
            .right-cont{
                
                img{
                    transform: scale(.8);
                }
                img:hover{
                    transform: scale(.9);
                }
            }
            .left-cont{
                margin-top: -50px;
                .caption{
                    font-size: 30px;
                }
            }
        }
    }
}

@media(max-width: 424px){
    .jhoAndErn{
       
        .container{
            .left-cont{
                margin-top: -160px;
                img{
                    transform: scale(.6);
                }
                img:hover{
                    transform: scale(.65);
                }
            }
            .right-cont{
                margin-top: -116px;
                .caption{
                    font-size: 23px;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 424px){
    .jhoAndErn{
        .container1{
            .right-cont{
                margin-top: -170px;
                img{
                    transform: scale(.6);
                }
                img:hover{
                    transform: scale(.65);
                }
            }
            .left-cont{
                margin-top: -116px;
                .caption{
                    font-size: 23px;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 385px){
    .jhoAndErn{
        .container{
            .left-cont{
                
                img{
                    transform: scale(.5);
                }
                img:hover{
                    transform: scale(.55);
                }
            }
            .right-cont{
                margin-top: -125px;
                .caption{
                    font-size: 20px;
                }
            }
        }
    }
}

@media(max-width: 385px){
    .jhoAndErn{
        .container1{
            .right-cont{
                
                img{
                    transform: scale(.5);
                }
                img:hover{
                    transform: scale(.55);
                }
            }
            .left-cont{
                margin-top: -125px;
                .caption{
                    font-size: 20px;
                }
            }
        }
    }
}
