@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
/*NAV*/
nav {
  display: flex;
  z-index: 9999;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  list-style: none;
}

.limiter {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  padding: 0 7% !important;
  position: fixed;
  z-index: 2 !important;
  width: 100%;
}

.navlinks {
  background-color: rgba(24, 23, 23, 0.7);
  list-style-type: none;
  width: 45vw;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  padding-top: 4rem;
  overflow-y: scroll;
  scrollbar-width: none; /* firefox scroll*/
  -ms-overflow-style: none; /* IE */
}

header.black nav {
  background: rgba(24, 23, 23, 0.7);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  min-height: 50px;
  transition: all 0.9s ease-in-out;
}

.navlinks::-webkit-scrollbar {
  /* webkit scroll */
  width: 0;
  height: 0;
}

.navitems {
  padding: 1rem 1rem;
  width: 180px;
}

li.navitems {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.navlinks .itemlinks {
  font-family: Lustria;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  display: none;
}

.navitems:hover > .dropmenu {
  display: block;
}

.dropitems {
  text-align: left;
  padding: 1rem;
  width: 100%;
}

.logo {
  flex-grow: 0px;
  width: 100%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo img {
  width: 55px;
  height: 55px;
}

#burger {
  z-index: 99;
}

.burgerlines {
  border-bottom: 2px solid #fff;
  height: 6px;
  width: 15px;
  cursor: pointer;
}

a {
  transition: 0.3s ease;
}

.active {
  transform: translateX(0%) !important;
}

.navlinks:focus {
  outline: 0;
}

.navlinks > .active a {
  color: #426841;
}

.navitems > a:hover {
  color: #426841;
}

@media screen and (min-width: 900px) {
  .navlinks {
    background: transparent;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    min-height: 50px;
    padding: 0 10%;
  }
}
@media screen and (min-width: 900px) {
  .limiter {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
  }
  #burger {
    display: none;
  }
  .navbar {
    justify-content: center;
    width: 100%;
    position: fixed;
    padding: 0 10%;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    transform: translateX(0%);
    overflow-y: visible;
    padding: 0;
  }
  .dropmenu {
    flex-direction: column;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30%;
    display: none;
    left: 30%;
    transform: translateX(-50%);
  }
  .navitems:hover > .dropmenu {
    display: flex;
  }
  .dropitems {
    text-align: center;
    padding: 1rem;
  }
  .navitems {
    padding: 1rem 1rem;
    text-align: right;
  }
  li.navitems {
    width: 130px;
  }
}
@media screen and (max-width: 500px) {
  .navbar a {
    margin-left: 10px;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 290px) {
  .logo a {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.home-cont {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #1A4019;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("Assets/homebackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; /* Ensure proper positioning of pseudo-element */
}

.title {
  margin-top: 10%;
  color: white;
  font-size: 180px;
  font-family: Luxurious Script;
  font-weight: 500px;
  z-index: 1;
  text-align: center;
}

.date {
  color: white;
  font-size: 30px;
  font-family: Lustria;
  font-weight: 300px;
  z-index: 1;
}

.description {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: Lustria;
  font-weight: 100px;
  z-index: 1;
  width: 80%;
  text-align: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #1A4019, transparent);
  z-index: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 100px;
  }
  .date {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 60px; /* Adjust font size for smaller screens */
    white-space: normal; /* Allow line breaks */
  }
  .description {
    font-size: 14px;
  }
}
.jhoAndErn {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #1A4019;
}
.jhoAndErn .container {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 400px;
  margin-right: 300px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.jhoAndErn .container .right-cont {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.jhoAndErn .container .right-cont .caption {
  color: white;
  font-size: 40px;
  font-family: Lustria;
  font-weight: 100px;
}
.jhoAndErn .container .left-cont {
  margin-right: 50px;
}
.jhoAndErn .container .left-cont img:hover {
  transform: scale(1.1);
}
.jhoAndErn .container1 {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 400px;
  margin-right: 300px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.jhoAndErn .container1 .right-cont {
  margin-left: 50px;
}
.jhoAndErn .container1 .right-cont img:hover {
  transform: scale(1.1);
}
.jhoAndErn .container1 .left-cont {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.jhoAndErn .container1 .left-cont .caption {
  color: white;
  font-size: 40px;
  font-family: Lustria;
  font-weight: 100px;
  text-align: right;
}

@media (max-width: 1864px) {
  .jhoAndErn .container {
    margin-left: 200px;
    margin-right: 100px;
  }
}
@media (max-width: 1428px) {
  .jhoAndErn .container {
    margin-left: 150px;
    margin-right: 50px;
  }
}
@media (max-width: 1329px) {
  .jhoAndErn .container {
    margin-left: 30px;
    margin-right: 0px;
  }
}
@media (max-width: 1304px) {
  .jhoAndErn .container {
    margin-left: 70px;
    margin-right: 0px;
  }
}
@media (max-width: 1198px) {
  .jhoAndErn .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .jhoAndErn .container .right-cont {
    width: 90%;
    text-align: center;
  }
  .jhoAndErn .container .left-cont {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
@media (max-width: 1026px) {
  .jhoAndErn .container1 {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  .jhoAndErn .container .right-cont .caption {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .jhoAndErn .container {
    margin-top: 40px;
  }
  .jhoAndErn .container .left-cont img {
    transform: scale(0.8);
  }
  .jhoAndErn .container .left-cont img:hover {
    transform: scale(0.9);
  }
  .jhoAndErn .container .right-cont {
    margin-top: -50px;
  }
  .jhoAndErn .container .right-cont .caption {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .jhoAndErn .container .left-cont img {
    transform: scale(0.75);
  }
  .jhoAndErn .container .left-cont img:hover {
    transform: scale(0.8);
  }
  .jhoAndErn .container .right-cont .caption {
    font-size: 28px;
  }
}
@media (max-width: 1864px) {
  .jhoAndErn .container1 {
    margin-right: 200px;
    margin-left: 100px;
  }
}
@media (max-width: 1528px) {
  .jhoAndErn .container1 {
    margin-top: 130px;
  }
}
@media (max-width: 1428px) {
  .jhoAndErn .container1 {
    margin-right: 150px;
    margin-left: 50px;
  }
}
@media (max-width: 1334px) {
  .jhoAndErn .container1 {
    margin-right: 50px;
    margin-left: 0px;
  }
}
@media (max-width: 1198px) {
  .jhoAndErn .container1 {
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
  .jhoAndErn .container1 .left-cont {
    width: 90%;
  }
  .jhoAndErn .container1 .left-cont .caption {
    text-align: center;
  }
  .jhoAndErn .container1 .right-cont {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
@media (max-width: 1198px) and (max-width: 1026px) {
  .jhoAndErn .container1 {
    margin-top: 50px;
  }
}
@media (max-width: 1198px) and (max-width: 900px) {
  .jhoAndErn .container .left-cont .caption {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .jhoAndErn .container1 {
    margin-top: 40px;
  }
  .jhoAndErn .container1 .right-cont img {
    transform: scale(0.8);
  }
  .jhoAndErn .container1 .right-cont img:hover {
    transform: scale(0.9);
  }
  .jhoAndErn .container1 .left-cont {
    margin-top: -50px;
  }
  .jhoAndErn .container1 .left-cont .caption {
    font-size: 30px;
  }
}
@media (max-width: 424px) {
  .jhoAndErn .container .left-cont {
    margin-top: -160px;
  }
  .jhoAndErn .container .left-cont img {
    transform: scale(0.6);
  }
  .jhoAndErn .container .left-cont img:hover {
    transform: scale(0.65);
  }
  .jhoAndErn .container .right-cont {
    margin-top: -116px;
  }
  .jhoAndErn .container .right-cont .caption {
    font-size: 23px;
    text-align: center;
  }
}
@media (max-width: 424px) {
  .jhoAndErn .container1 .right-cont {
    margin-top: -170px;
  }
  .jhoAndErn .container1 .right-cont img {
    transform: scale(0.6);
  }
  .jhoAndErn .container1 .right-cont img:hover {
    transform: scale(0.65);
  }
  .jhoAndErn .container1 .left-cont {
    margin-top: -116px;
  }
  .jhoAndErn .container1 .left-cont .caption {
    font-size: 23px;
    text-align: center;
  }
}
@media (max-width: 385px) {
  .jhoAndErn .container .left-cont img {
    transform: scale(0.5);
  }
  .jhoAndErn .container .left-cont img:hover {
    transform: scale(0.55);
  }
  .jhoAndErn .container .right-cont {
    margin-top: -125px;
  }
  .jhoAndErn .container .right-cont .caption {
    font-size: 20px;
  }
}
@media (max-width: 385px) {
  .jhoAndErn .container1 .right-cont img {
    transform: scale(0.5);
  }
  .jhoAndErn .container1 .right-cont img:hover {
    transform: scale(0.55);
  }
  .jhoAndErn .container1 .left-cont {
    margin-top: -125px;
  }
  .jhoAndErn .container1 .left-cont .caption {
    font-size: 20px;
  }
}
.about-wedding {
  display: flex;
  height: auto;
  background-color: #e0e0e0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-wedding h1 {
  color: rgb(31, 31, 31);
  font-family: Lustria;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 80px;
}
.about-wedding .main-cont {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-wedding .main-cont .dress-cont {
  width: 1228px;
  height: 670px;
  border-radius: 19px;
  background: rgb(82, 97, 81);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.about-wedding .main-cont .dress-cont .cont2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-title {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-title p {
  width: 100%;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-men {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  letter-spacing: 7px;
  margin-bottom: 20px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 30px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 5%;
  text-align: center;
  margin-bottom: 30px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-lady {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  letter-spacing: 7px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 30px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 5%;
  text-align: center;
  margin-bottom: 30px;
}
.about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}
.about-wedding .main-cont .dress-cont .cont2 .pallete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.about-wedding .main-cont .dress-cont .cont2 .pallete p {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 40px;
  padding-left: 25px;
  margin-top: 20px;
}
.about-wedding .main-cont .location {
  width: 1228px;
  height: 670px;
  border-radius: 19px;
  background: rgb(82, 97, 81);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.about-wedding .main-cont .location .location-title {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.about-wedding .main-cont .location .location-code {
  margin-bottom: 20px;
}
.about-wedding .main-cont .location .location-code:hover {
  transform: scale(1.1);
}
.about-wedding .main-cont .location .location-name {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 10px;
}
.about-wedding .main-cont .location .time {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 28px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 10px;
}
.about-wedding .main-cont .location .address {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
}
.about-wedding .main-cont .location .view-button {
  width: 279px;
  height: 65px;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-wedding .main-cont .location .view-button a {
  color: rgb(0, 0, 0);
  font-family: Lustria;
  font-size: 18px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 5px;
  text-decoration: none;
}
.about-wedding .main-cont .location .view-button:hover {
  transform: scale(1.2);
}
.about-wedding .main-cont .send-gift {
  width: 1228px;
  height: 670px;
  border-radius: 19px;
  background: rgb(82, 97, 81);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.about-wedding .main-cont .send-gift .gift-title {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.about-wedding .main-cont .send-gift .gift-desc {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  width: 85%;
  margin-bottom: 30px;
}
.about-wedding .main-cont .send-gift .codes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wedding .main-cont .send-gift .codes .gcash {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 25px;
}
.about-wedding .main-cont .send-gift .codes .gcash img:hover {
  transform: scale(1.1);
}
.about-wedding .main-cont .send-gift .codes .gcash p {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 5%;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 15px;
}
.about-wedding .main-cont .send-gift .codes .bank {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 25px;
}
.about-wedding .main-cont .send-gift .codes .bank img:hover {
  transform: scale(1.1);
}
.about-wedding .main-cont .send-gift .codes .bank p {
  color: rgb(255, 255, 255);
  font-family: Lustria;
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 5%;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 15px;
}

@media (max-width: 1284px) {
  .about-wedding .main-cont .dress-cont {
    width: 1166px;
    height: 646px;
  }
  .about-wedding .main-cont .dress-cont .cont2 {
    width: auto;
  }
}
@media (max-width: 1243px) {
  .about-wedding .main-cont .dress-cont {
    width: 1131px;
  }
}
@media (max-width: 1183px) {
  .about-wedding .main-cont .dress-cont {
    width: 1000px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.8);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    text-align: center;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.9);
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.8);
  }
}
@media (max-width: 1183px) {
  .about-wedding .main-cont .dress-cont {
    width: 1000px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.8);
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.9);
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.8);
  }
}
@media (max-width: 1040px) {
  .about-wedding .main-cont .dress-cont {
    width: 1000px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.8);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady {
    margin-top: -55px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.8);
  }
  .about-wedding .main-cont .dress-cont .cont2 .rules {
    line-height: 30px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.8);
  }
}
@media (max-width: 1015px) {
  .about-wedding .main-cont .dress-cont {
    width: 825px;
    height: 724px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.6);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    font-size: 35px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    line-height: 30px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady {
    margin-top: -55px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    line-height: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete {
    margin-top: -17px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.6);
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    margin-top: -17px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.6);
  }
}
@media (max-width: 883px) {
  .about-wedding h1 {
    font-size: 50px;
    margin-bottom: -86px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 680px;
    height: 580px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -50px;
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -50px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    font-size: 30px;
    line-height: 30px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    margin-bottom: 2px;
    font-size: 27px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    margin-bottom: 2px;
    font-size: 25px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 15px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 59px;
    font-size: 27px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    font-size: 15px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 16px;
    letter-spacing: 20px;
  }
}
@media (max-width: 715px) {
  .about-wedding h1 {
    font-size: 45px;
    margin-bottom: -86px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 613px;
    height: 486px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -50px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.5);
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -50px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.5);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 28px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    margin-bottom: 2px;
    font-size: 27px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    margin-bottom: 2px;
    font-size: 23px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 13px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 59px;
    font-size: 27px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    font-size: 13px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 14px;
    letter-spacing: 17px;
  }
}
@media (max-width: 648px) {
  .about-wedding h1 {
    font-size: 40px;
    margin-bottom: -86px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 555px;
    height: 408px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -70px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.4);
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -70px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.4);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    font-size: 22px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    font-size: 19px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 12px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-bottom: 17px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 19px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 575px) {
  .about-wedding h1 {
    font-size: 33px;
    margin-bottom: -86px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 473px;
    height: 326px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -100px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.3);
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -100px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.3);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    margin-top: -18px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    font-size: 18px;
    margin-bottom: -7px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    font-size: 17px;
    margin-bottom: -8px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 44px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 12px;
    margin-top: -34px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 575px) {
  .about-wedding h1 {
    font-size: 33px;
    margin-bottom: -86px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 473px;
    height: 326px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -100px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.3);
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -100px;
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.3);
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    margin-top: -18px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    font-size: 18px;
    margin-bottom: -7px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    font-size: 17px;
    margin-bottom: -8px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 44px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 12px;
    margin-top: -34px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 485px) {
  .about-wedding h1 {
    font-size: 30px;
    margin-bottom: -120px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 416px;
    height: 289px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -130px;
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -130px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    margin-bottom: -7px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    margin-bottom: -8px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 10px;
    width: 70%;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 44px;
    margin-bottom: 6px;
    font-size: 18px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: 5px;
    font-size: 10px;
    width: 60%;
    line-height: 10px;
    margin-top: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 12px;
    margin-top: -34px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 432px) {
  .about-wedding h1 {
    font-size: 25px;
    margin-bottom: -120px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 365px;
    height: 289px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -145px;
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -145px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    margin-bottom: -7px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    font-size: 15px;
    margin-bottom: -8px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 10px;
    width: 63%;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 44px;
    margin-bottom: 6px;
    font-size: 18px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: -7px;
    font-size: 10px;
    width: 60%;
    line-height: 10px;
    margin-top: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 12px;
    margin-top: -34px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 380px) {
  .about-wedding h1 {
    font-size: 25px;
    margin-bottom: -120px;
  }
  .about-wedding .main-cont h1 {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-wedding .main-cont .dress-cont {
    width: 328px;
    height: 289px;
  }
  .about-wedding .main-cont .dress-cont .cont1 {
    margin-right: -163px;
  }
  .about-wedding .main-cont .dress-cont .cont3 {
    margin-left: -163px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .men-title {
    margin-bottom: -7px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .rules {
    font-size: 13px;
    margin-bottom: -8px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-men .avoid {
    font-size: 10px;
    width: 55%;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .ladies-title {
    margin-top: 44px;
    margin-bottom: 6px;
    font-size: 18px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .rules {
    font-size: 13px;
    margin-bottom: 2px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .attire-lady .avoid {
    margin-bottom: -7px;
    font-size: 10px;
    width: 60%;
    line-height: 10px;
    margin-top: 10px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete p {
    font-size: 12px;
    margin-top: -34px;
  }
  .about-wedding .main-cont .dress-cont .cont2 .pallete img {
    transform: scale(0.4);
  }
}
@media (max-width: 350px) {
  .about-wedding h1 {
    line-height: 40px;
  }
}
@media (max-width: 1284px) {
  .about-wedding .main-cont .location {
    width: 1166px;
    height: 646px;
  }
}
@media (max-width: 335px) {
  .about-wedding .main-cont .dress-cont {
    width: 306px;
    height: 306px;
  }
  .about-wedding .main-cont .dress-cont .cont1 img {
    transform: scale(0.22);
  }
  .about-wedding .main-cont .dress-cont .cont3 img {
    transform: scale(0.22);
  }
}
@media (max-width: 1243px) {
  .about-wedding .main-cont .location {
    width: 1131px;
  }
}
@media (max-width: 1183px) {
  .about-wedding .main-cont .location {
    width: 1000px;
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 45px;
  }
  .about-wedding .main-cont .location .view-button {
    transform: scale(0.9);
  }
  .about-wedding .main-cont .location .view-button:hover {
    transform: scale(1);
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 38px;
  }
}
@media (max-width: 1015px) {
  .about-wedding .main-cont .location {
    width: 825px;
  }
}
@media (max-width: 883px) {
  .about-wedding .main-cont .location {
    width: 680px;
    height: 660px;
  }
  .about-wedding .main-cont .location .location-title {
    margin-bottom: 5px;
  }
  .about-wedding .main-cont .location .location-code {
    transform: scale(0.9);
  }
  .about-wedding .main-cont .location .location-code:hover {
    transform: scale(1);
  }
}
@media (max-width: 715px) {
  .about-wedding .main-cont .location {
    width: 613px;
    height: 579px;
  }
  .about-wedding .main-cont .location .location-code {
    margin-bottom: -12px;
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 40px;
  }
  .about-wedding .main-cont .location .view-button {
    transform: scale(0.8);
  }
  .about-wedding .main-cont .location .view-button:hover {
    transform: scale(0.9);
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 33px;
    margin-bottom: -22px;
  }
  .about-wedding .main-cont .location .time {
    font: 24px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 15px;
    margin-bottom: 18px;
  }
}
@media (max-width: 648px) {
  .about-wedding .main-cont .location {
    width: 555px;
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 37px;
    margin-bottom: -5px;
  }
  .about-wedding .main-cont .location .location-code {
    transform: scale(0.8);
    margin-bottom: -27px;
  }
  .about-wedding .main-cont .location .location-code:hover {
    transform: scale(0.85);
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 30px;
  }
  .about-wedding .main-cont .location .time {
    font-size: 25px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .about-wedding .main-cont .location {
    width: 473px;
    height: 518px;
  }
  .about-wedding .main-cont .location .location-code {
    transform: scale(0.65);
  }
  .about-wedding .main-cont .location .location-code:hover {
    transform: scale(0.7);
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 32px;
    margin-bottom: -25px;
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 27px;
  }
  .about-wedding .main-cont .location .time {
    font-size: 20px;
    margin-bottom: -10px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 12px;
    margin-bottom: 6px;
  }
}
@media (max-width: 485px) {
  .about-wedding .main-cont .location {
    width: 416px;
    height: 453px;
  }
  .about-wedding .main-cont .location .view-button {
    transform: scale(0.6);
  }
  .about-wedding .main-cont .location .view-button:hover {
    transform: scale(0.7);
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 28px;
    margin-bottom: -38px;
  }
  .about-wedding .main-cont .location .location-code {
    margin-bottom: -49px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 9px;
  }
}
@media (max-width: 432px) {
  .about-wedding .main-cont .location {
    width: 365px;
    height: 423px;
  }
  .about-wedding .main-cont .location .view-button {
    transform: scale(0.6);
  }
  .about-wedding .main-cont .location .view-button:hover {
    transform: scale(0.7);
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 24px;
    margin-bottom: -38px;
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 20px;
  }
  .about-wedding .main-cont .location .location-code {
    margin-bottom: -49px;
  }
  .about-wedding .main-cont .location .time {
    font-size: 17px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 9px;
    width: 95%;
  }
}
@media (max-width: 380px) {
  .about-wedding .main-cont .location {
    width: 328px;
    height: 423px;
  }
  .about-wedding .main-cont .location .view-button {
    transform: scale(0.55);
  }
  .about-wedding .main-cont .location .view-button:hover {
    transform: scale(0.6);
  }
  .about-wedding .main-cont .location .location-title {
    font-size: 20px;
    margin-bottom: -38px;
  }
  .about-wedding .main-cont .location .location-name {
    font-size: 18px;
  }
  .about-wedding .main-cont .location .location-code {
    margin-bottom: -49px;
  }
  .about-wedding .main-cont .location .time {
    font-size: 17px;
  }
  .about-wedding .main-cont .location .address {
    font-size: 8px;
    width: 90%;
  }
}
@media (max-width: 335px) {
  .about-wedding .main-cont .location {
    width: 306px;
    height: 412px;
  }
}
.message-main {
  display: flex;
  height: auto;
  background: rgb(124, 156, 119);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message-main .message-cont {
  width: 90%;
  max-width: 1241px;
  height: auto;
  border-radius: 26px;
  background: rgb(255, 255, 255);
  margin-top: 150px;
}
.message-main .message-cont .message-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-family: Lustria;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}
.message-main .message-cont .input-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-main .message-cont .input-message .name {
  width: 90%;
  max-width: 1079px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 40px;
  font-family: Lustria;
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 3%;
}
.message-main .message-cont .input-message .message {
  width: 90%;
  max-width: 1079px;
  height: 440px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 13px;
  padding: 10px;
  margin-bottom: 40px;
  font-family: Lustria;
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 3%;
}
.message-main .message-cont .input-message .submit {
  width: 60%;
  max-width: 176px;
  height: 61px;
  border-radius: 9px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(124, 156, 119);
  border: none;
  color: rgb(0, 0, 0);
  font-family: Lustria;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3%;
  text-align: center;
}
.message-main .message-cont .input-message .submit:hover {
  transform: scale(1.1);
}
.message-main .message-cont .comment-section {
  width: 90%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 50px;
}
.message-main .message-cont .comment-section .comment-cont {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 95%;
  margin-bottom: 30px;
  padding-left: 80px;
}
.message-main .message-cont .comment-section .comment-cont .comments {
  display: flex;
  flex-direction: column;
}
.message-main .message-cont .comment-section .comment-cont .comments .user-name {
  font-size: 85%;
  color: rgb(26, 64, 25);
  font-family: Lustria;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3%;
  text-align: left;
}
.message-main .message-cont .comment-section .comment-cont .comments .user-message {
  font-size: 85%;
  color: rgb(48, 48, 48);
  font-family: Lustria;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 4%;
  text-align: left;
}
.message-main .thank-you {
  margin-top: 5%;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-family: Luxurious Script;
  font-size: 95px;
  font-weight: 400;
  line-height: 114px;
  letter-spacing: 10px;
  text-align: center;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .message-main {
    padding: 10px; /* Add some padding for smaller screens */
  }
  .message-cont {
    margin-top: 10px; /* Adjust margin top for smaller screens */
  }
  .thank-you {
    font-size: 50px; /* Adjust font size for smaller screens */
  }
}
.footer {
  height: auto;
  width: 100%;
}
.footer .footer-cont {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(48, 48, 48);
  font-family: Lustria;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 4%;
  text-align: left;
}
.footer .footer-cont img {
  margin-right: 20px;
}
.footer .footer-cont a {
  margin-left: 20px;
  color: rgb(48, 48, 48);
  font-family: Lustria;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 4%;
  text-align: left;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .footer-cont {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-cont img {
    margin: 0; /* Remove margin for image */
    margin-bottom: 10px; /* Add some space below the image */
  }
  .footer-cont a {
    margin: 0; /* Remove margin for anchor tag */
  }
}
.audio-toggle {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; /* Ensure it's above other content */
}

.audio-toggle i {
  color: #333;
}/*# sourceMappingURL=style.css.map */